* {
  font-family: 'Slabo 27px', serif;
  font-size: 1.3em;

}
.center {
  text-align: center;
}

.offscreen{
  left: -10em;
  transition: left 2s
}
.sidebar{
  position: absolute;
  top: 3.5em;
  height: 100%;

}
.menu {
  margin-top: 0;
  float: left;
  list-style-type: none;
  padding: 10px;
  background-color: #84A5B2;
  height: 100%;
}
#tab{
  background-color: #84A5B2;
  float: right;
  padding: .3em;
}

#top {
  margin-top: 0;
  background-color: #d3f1d3;
  font-size: 4em;
}
