* {
  font-family: 'Slabo 27px', serif;
}
.center {
  text-align: center;
}

.left-zero{
  left: 0;
}

.offscreen{
  left: -89px;
}
.sidebar{
  position: absolute;
  top: 35px;
  height: 100%;
}
.menu {
  margin-top: 0;
  float: left;
  list-style-type: none;
  padding: 10px;
  background-color: #84A5B2;
  height: 100%;
}
.bars-icon{
  background-color: #84A5B2;
  float: right;
  padding: .3em;
}

/*.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
}*/

#top {
  margin-top: 0;
  background-color: #d3f1d3;
}
